.menu-btn {
    position: absolute;
    left: 0;
    top: 10px;
    float: left;
    background: transparent;
    margin-top: 10px;
    margin-left: 2vw;
    border: none;
    border-color: transparent;
}

.icon {
    width: 40px;
    background: transparent;
}

nav.Nav-navList-1 {
    padding-top: 50px;
    text-align: center;
    line-height: 80px;
    background: whitesmoke;
    height: 100vh;
    width: 30vw;
    margin: 0;
}

.Nav-navList-1 > a {
    color: inherit;
    text-decoration: none;
}

@media screen and (max-width: 450px) {
    nav.Nav-navList-1 {
        width: 35vw;
        font-size: 80%;
    }
}

